@font-face {
    font-family: 'Rubik Regular';
    src: url(../fonts/Rubik-Regular.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Medium';
    src: url(../fonts/Rubik-Medium.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik SemiBold';
    src: url(../fonts/Rubik-SemiBold.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik Bold';
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: 600;
    font-style: normal;
}
